# API
PORT=4000
DATABASE_URL=postgresql://buscador:buscador@localhost:5432/buscador
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too

# WEB
NEXT_PUBLIC_API_URL=http://localhost:4000/api
